<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body style="background-color: aliceblue;">
<div class="container">
    <h1 style="text-align:center; font-weight:bold;">These Much Tasks ?</h1>
    <div class="row">
        {% for todo in todos %}
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card" style="width: 18rem; background-color: lightyellow; border-radius: 2rem; margin:5%;">
                <div class="card-body">
                    <h5 class="card-title">{{todo.task_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{todo.status}}</h6>
                    <p class="card-text">{{todo.user}}</p>
                    <p class="card-text">{{todo.date}}</p>
                    <a href="{% url 'update' todo.id %}" class="btn btn-success">Edit</a>
                    <a href="{% url 'delete' todo.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>